<div *ngIf="modoForm === 'R'">
    <a routerLink="/comisiones/nuevo">Heroes</a>
    <clr-datagrid>
        <clr-dg-placeholder>No se han encontrado registros</clr-dg-placeholder>
        <clr-dg-column>ID</clr-dg-column>
        <clr-dg-column>descripcion</clr-dg-column>
        <clr-dg-column>Nivel</clr-dg-column>
        <clr-dg-row *ngFor="let comision of (data | async)">
            <clr-dg-action-overflow>
                <button class="action-item" (click)="onEdit(comision)">Editar</button>
                <button class="action-item" (click)="onDelete(comision)">Borrar</button>
            </clr-dg-action-overflow>
            <clr-dg-cell>{{comision.id}}</clr-dg-cell>
            <clr-dg-cell>{{comision.descripcion}}</clr-dg-cell>
            <clr-dg-cell>{{comision.nivel}}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>{{data.length}} comisiones</clr-dg-footer>
    </clr-datagrid>
</div>