<form clrForm [formGroup]="form" (ngSubmit)="Add()">
    <h2>Nueva comisión</h2>
    <clr-input-container>
        <label>Descripción</label>
        <input clrInput type="text" formControlName="descripcion" />
        <clr-control-helper>Ejemplo: Comision 104</clr-control-helper>
        <clr-control-error>El campo descripción es obligatorio</clr-control-error>
    </clr-input-container>
    <clr-input-container>
        <label>Nivel</label>
        <input clrInput type="number" formControlName="nivel" />
        <clr-control-helper>Ejemplo: 4</clr-control-helper>
        <clr-control-error>El campo nivel es obligatorio</clr-control-error>
    </clr-input-container>
    <br />
    <button class="btn btn-success" [disabled]="!form.valid">Crear</button>
    <button type="button" class="btn btn-danger" (click)="cancelCreate()">Cancelar</button>
</form>