<clr-datagrid>
    <clr-dg-placeholder>No se han encontrado registros</clr-dg-placeholder>
    <clr-dg-column>ID</clr-dg-column>
    <clr-dg-column>Descripción</clr-dg-column>

    <clr-dg-row *ngFor="let curso of data">
        <clr-dg-action-overflow>
            <button class="action-item" (click)="onEdit(curso)">Editar</button>
            <button class="action-item" (click)="onDelete(user)">Borrar</button>
        </clr-dg-action-overflow>
        <clr-dg-cell>{{curso.id}}</clr-dg-cell>
        <clr-dg-cell>{{curso.descripcion}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{data.length}} cursos</clr-dg-footer>
</clr-datagrid>