<h2>Nuevo curso</h2>
<form clrForm [formGroup]="form" clrLayout="vertical" (ngSubmit)="agregarPersona()">
    <clr-input-container>
        <label>Dni</label>
        <input clrInput type="number" formControlName="dni" />
        <clr-control-error>Error: El campo Dni es obligatorio</clr-control-error>
    </clr-input-container>
    <clr-input-container>
        <label>Nombre</label>
        <input clrInput type="text" formControlName="nombre" />
        <clr-control-error>Error: El campo Nombre es obligatorio</clr-control-error>
    </clr-input-container>
    <clr-input-container>
        <label>Apellido</label>
        <input clrInput type="text" formControlName="apellido" />
        <clr-control-error>Error: El campo Apellido es obligatorio</clr-control-error>
    </clr-input-container>
    <clr-input-container>
        <label>E-Mail</label>
        <input clrInput type="email" formControlName="email" />
        <clr-control-error>Error: El campo Email es obligatorio</clr-control-error>
    </clr-input-container>
    <clr-input-container>
        <label>Legajo</label>
        <input clrInput type="number" formControlName="legajo" />
        <clr-control-error>Error: El campo Legajo es obligatorio</clr-control-error>
    </clr-input-container>
    <clr-select-container>
        <label>Tipo de persona</label>
        <select clrSelect name="options" formControlName="legajoNumber" required>
            <option value="1">Administrador</option>
            <option value="2">Profesor</option>
            <option value="3">Alumno</option>
        </select>
        <clr-control-helper>Tipo de persona</clr-control-helper>
        <clr-control-error>El tipo de persona es obligatorio.</clr-control-error>
    </clr-select-container>

    <br />
    <button class="btn btn-success" type="submit" [disabled]="!form.valid">Crear</button>
</form>+