<div *ngIf="modoForm === 'R'">
    <button class="btn btn-info" (click)="onAdd()">Agregar persona</button>
    <clr-datagrid>
        <clr-dg-placeholder>No se han encontrado registros</clr-dg-placeholder>
        <clr-dg-column>Nombre</clr-dg-column>
        <clr-dg-column>Apellido</clr-dg-column>

        <clr-dg-row *ngFor="let persona of data">
            <clr-dg-action-overflow *ngIf="HabilitarABM">
                <button class="action-item" (click)="onEdit(persona)">Editar</button>
                <button class="action-item" (click)="onDelete(persona)">Borrar</button>
            </clr-dg-action-overflow>
            <clr-dg-cell>{{persona.nombre}}</clr-dg-cell>
            <clr-dg-cell>{{persona.apellido}}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>{{data.length}} personas</clr-dg-footer>
    </clr-datagrid>
</div>


<app-nuevapersona *ngIf="modoForm === 'C'" (modoFormEvent)="updateModoFormNew($event)">
</app-nuevapersona>